@font-face {
    font-family: CakeCafe ;
    src: url(../fonts/cakecafe/Cakecafe.otf);
    font-weight: normal;
}

@font-face {
    font-family: Bubbly ;
    src: url(../fonts/bubbly_3/Bubbly-Regular.otf);
    font-weight: normal;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --corPrimaria : #4c88d1;
    --corSecundaria : #c3608c;
    --corTerciaria : #ff6961;
    --branco : #fff;
    --preto : #000;
}

h2, h3{
    color: var(--corSecundaria);
    margin: 20px;
    font-family: Poppins ;
}

/* cabeçalho */

header, footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--corPrimaria);
    color: var(--branco);
}

header h1{
    font-family: CakeCafe ;
}

#cabecalhoEsquerda, #cabecalhoDireita{
    display: flex;
    align-items: center;
    gap: 30px;
}

#cabecalhoEsquerda img{
    width: 40px;
}

header a {
    text-decoration: none;
    color: var(--branco);
}